$spacingHalf: 4px;
$spacing1: 8px;
$spacing2: 16px;
$spacing3: 24px;

.playerBox {
	width: 100%;
	min-width: 250px;
	padding: $spacing1;

	&.hasPassed {
		opacity: 0.7;
	}
}

.header {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 50px;
	margin-bottom: $spacing1;

	.avatar {
		flex-shrink: 0;
		height: 100%;
		object-fit: contain;
		margin-right: $spacing1;
	}

	.imgPlaceholder {
		height: 100%;
		padding-left: 100%;
	}

	.info {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		min-width: 0;

		.raceName {
			margin-top: auto;
			display: flex;
			align-items: center;

			.connectionStatus {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				margin-right: 0.5rem;
			}
		}
	}

	.stats {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		text-align: end;

		.points {
			display: flex;
			align-items: center;
			margin-top: auto;

			.vpImg {
				height: 1.5rem;
				object-fit: contain;
				margin-left: $spacingHalf;
			}
		}
	}
}

.playerData {
	padding: $spacingHalf $spacing1;
	background-color: white;
	color: black;

	.resourceIndicator {
		display: flex;
		align-items: center;

		> div {
			width: 35px;
			margin-right: $spacingHalf;
		}

		> span {
			font-size: 0.75rem;
		}
	}

	.resourceIndicatorFixedHeight {
		height: 35px;
	}

	.invisible {
		visibility: hidden;
	}

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 30px;
	}
}
