html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: nulshock-bold;
	src: url("./assets/nulshock-bold.ttf");
}

.gaia-font {
	font-family: nulshock-bold !important;
}

.w-100 {
	width: 100%;
}

.flex-row {
	display: flex;
	align-items: center;
}

.centered-flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.ellipsify {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.break-words {
	word-break: break-all;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
	width: 0.25em;
	height: 0.25em;
}

::-webkit-scrollbar-thumb {
	background: #708090;
	border-radius: 15px;
}

::-webkit-scrollbar-track {
	background: #b8c0c8;
}

.interactive {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 2px solid transparent;
	border-radius: 5px;
	z-index: 10;
	pointer-events: none;
	background-color: transparent;
}

.interactive.clickable {
	border-color: dodgerblue;
	cursor: pointer;
	pointer-events: all;
}

.interactive.selected {
	border-color: red;
	pointer-events: none;
}

html {
	--selectable-color: dodgerblue;
	--selected-color: red;
	--qic-color: #049E3F;
}

.wth-ratio-1 {
	position: relative;
	width: 100%;
	padding-top: 100%;
}

.fill-parent {
	width: 100%;
	height: 100%;
}

.fill-parent-abs {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}